@{
    Layout = "../Shared/_FunongbaoLayout.cshtml";
    FunongbaoApply apply = null;
        int month = DateTime.Now.Month;
        DateTime UpdateDate = DateTime.Now;
        if (ViewBag.Apply != null && ViewBag.Apply.ApplyDate > new DateTime(1900, 1, 2))
    {
        apply = ViewBag.Apply as FunongbaoApply;

        if(apply!=null)
        {
            month=apply.ApplyDate.Month;
            month = (apply.ApplyDate.Month - 3) < 0 ? DateRuleList.DateRules.Last().ApplyMonth : (apply.ApplyDate.Month - 3);

            if (apply.ApplyDate <= new DateTime(apply.ApplyDate.Year, apply.ApplyDate.Month, DateRule.ApplyMiddleDay))
            {
                UpdateDate = new DateTime(apply.ApplyDate.Year, apply.ApplyDate.Month, DateRule.ChangeDay);
            }
            else
            {
                UpdateDate = new DateTime(apply.ApplyDate.Year, apply.ApplyDate.Month + 1, DateRule.ChangeDay);
            }
        }
    }
    
}
@model Funongbao
<div id="mbMain">
      <div class="frameChang">
          <span class="stitle">我的福农宝</span>
      </div>
      <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
          <section class="modBaseBox">
                  <div class="modBd">
                    <ul class="btts">
                          <span>尊敬的<em>@(ViewBag.UserName)</em>@(ViewBag.Sex)，您好！</span>
                          @if (apply!=null&&((DateTime.Now < new DateTime(apply.ApplyDate.Year, apply.ApplyDate.Month, DateRule.ChangeDay) && apply.ApplyDate.Day <= DateRule.ApplyMiddleDay) || (DateTime.Now < new DateTime(apply.ApplyDate.Year, apply.ApplyDate.Month + 1, DateRule.ChangeDay) && apply.ApplyDate.Day > DateRule.ApplyMiddleDay)) && ((Ocean.Entity.Enums.Funongbao.FunongbaoProcessStatus)apply.ProcessStatus == Ocean.Entity.Enums.Funongbao.FunongbaoProcessStatus.Pass || (Ocean.Entity.Enums.Funongbao.FunongbaoProcessStatus)apply.ProcessStatus == Ocean.Entity.Enums.Funongbao.FunongbaoProcessStatus.Suggestion))
                          {
                          <li>
                            <p>您的当前额度是：<em>@((apply.PreLimit / 10000).ToString("#"))</em>万元；</p>
                                    <p>当前月费率是：<em>@apply.PreRates.ToString().ToDecimalString()</em>‰。</p>
                          </li>
                          <li>
                           <p>数据更新日期：@Model.CreateDate.ToShortDateString()</p>
                          </li>
                          }
                          else
                          {
                              if (apply != null && ((Ocean.Entity.Enums.Funongbao.FunongbaoProcessStatus)apply.ProcessStatus == Ocean.Entity.Enums.Funongbao.FunongbaoProcessStatus.Pass||(Ocean.Entity.Enums.Funongbao.FunongbaoProcessStatus)apply.ProcessStatus == Ocean.Entity.Enums.Funongbao.FunongbaoProcessStatus.Suggestion))
                              {
                                   <li><p>您的当前额度是：<em>@((apply.ChangedLimit / 10000).ToString("#"))</em>万元；</p>
                                    <p>当前月费率是：<em>@apply.ChangedRates.ToString().ToDecimalString()</em>‰。</p></li>
                                    <li><p>数据更新日期：@UpdateDate</p></li>
                              }
                              else
                              {
                               <li><p>您的当前额度是：<em>@((Model.CurrentLimit / 10000).ToString("#"))</em>万元；</p>
                                    <p>当前月费率是：<em>@Model.CurrentRates.ToString().ToDecimalString()</em>‰。</p></li>
                              <li><p>数据更新日期：@Model.CreateDate.ToShortDateString()</p></li>
                              }
                          }
                      </ul> 
                      <div class="btnLoginBox">
                          @*<a class="goback modBtnColor coloryellow">返回</a>*@
                      </div>
                  </div>
          </section>
      </div>
</div>
