@{
    Layout = "../Shared/_MenuLayout.cshtml";
    string ImrUrl = Ocean.Framework.Configuration.global.config.GlobalConfig.GetConfig()["Domain"] + "/images";
}
@model MpUser
<script type="text/javascript">
    $(function () {
        $('#VehicleLicenseRegister').form({
            success: function (data) {
                data = eval("(" + data + ")");
                if (data.success) {
                    $.messager.alert('操作成功', data.message, 'info', function () {
                    });
                } else {
                    $.messager.alert('操作失败', data.message, 'error', function () {

                    });
                }
            }
        });
    });


    function submitForm() {
        if (!$("input[name='IsAuthId']:checked").val()) {
            $.messager.alert('提示', '请选择是否通过');
            return void (0);
        }
         $.ajax({
	            type: 'post',
	            url: '/MyUnder/_authApply?t=' + Math.random(),
	            data: { Id: '@(WebHelper.GetGuid("Id", Guid.Empty))', IsAuth: $("input[name='IsAuthId']:checked").val() },
	            cache: false,
	            dataType: "json",
	            success: function (data) {
	                if (data.success) {
	                    $.messager.alert('操作成功', data.message, 'info', function () {
	                    });
	                } else {
	                    $.messager.alert('操作失败', data.message, 'error', function () {

	                    });
	                }
	            },
	            error: function (XMLHttpRequest, textStatus, errorThrown) {
	                lotterying = false;
	                alert(XMLHttpRequest.status);
	                alert(XMLHttpRequest.readyState);
	                alert(textStatus);
	                alert(errorThrown);
	            }
	        });
    }

</script>
<style type="text/css">
        .oh {
	        overflow:hidden
        }
        .z {
        *zoom:1
        }
        .icon28C {
	        background:url('@Url.Content("~/content/images/icon28.png")') no-repeat scroll 0 0 transparent;
	        padding-left:28px
        }
        .cover-hd {
	        padding:2px 8px 3px;
	        position:relative
        }
        .cover-hd .upload-btn {
	        background-position:0 -251px;
	        color:#666;
	        display:inline-block;
	        font-size:14;
	        line-height:28px;
	        margin-right:12px
        }
        .upload-tip {
	        color:#666;
	        font-size:12px;
	        margin-top:2px
        }
        .upload-btn {
	        display:inline-block;
	        line-height:28px;
	        font-size:14px;
	        color:#666;
	        background-position:0 -251px
        }
</style>
<div id="mbMain">
      <div class="frameChang">
          <span class="stitle">行驶证详情修改</span>
      </div>
    <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
        <section class="modBaseBox">
              <form action="@Url.Action("_MyUnderApply", "MyUnder")" id="MyUnderRegister" method="post" style="margin: 0px; padding: 0px; display: block;">
                @if (WebHelper.GetString("isEdit") == "1")
                {
                    <input type="hidden" name="isEdit" id="isEdit" value="1" /> 
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                }
                  <div class="modBd"> 
                      <ul class="fnb_list">
                         <li class="line">
                            <b>姓名：</b>
                            <p style="margin: 11px 0 0 80px;">@Model.Name</p>
                         </li> 
                         <li class="line">
                            <b>手机：</b>
                            <p style="margin: 11px 0 0 80px;">@Model.MobilePhone</p>
                         </li> 
                         <li class="line">
                            <b>昵称：</b>
                            <p style="margin: 11px 0 0 80px;">@Model.NickName</p>
                         </li> 
                         <li class="line">
                            <b>是否通过：</b>
                            <p style="margin: 11px 0 0 80px;">
                            <input name='IsAuthId' type="radio"  value = "1" @Html.Raw(Model.IsAuth ==1 ? "checked='checked'" : string.Empty) />  通过认证<br/>
                            
                            <input name='IsAuthId' type="radio" value = "0" @Html.Raw(Model.IsAuth ==0 ? "checked='checked'" : string.Empty)  />  不通过认证<br/>
                            </p>
                         </li> 
                         
                      </ul>
                                                          
                      <div class="btnLoginBox">
                          <input type="button" class="modBtnColor coloryellow" value="提交" onclick="submitForm();" id="posBtn" />
                          <input type="button" class="modBtnColor coloryellow" value="返回" onclick="history.go(-1);" />
                      </div>
                  </div>
              </form> 
          </section>
    </div>
</div>
