@{
    Layout = null;
    string ImrUrl = Ocean.Framework.Configuration.global.config.GlobalConfig.GetConfig()["ResourceDomain"];
}
@model MpMaterialItem
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@Model.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/material/client-page1baa9e.css")">
    <link media="screen and (min-width:1000px)" rel="stylesheet" type="text/css" href="@Url.Content("~/Content/material/pc-page1b2f8d.css")">
    <style>
        body
        {
            -webkit-touch-callout: none;
            -webkit-text-size-adjust: none;
        }
        #nickname
        {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 90%;
        }
        ol, ul
        {
            list-style-position: inside;
        }
        #activity-detail .page-content .text
        {
            font-size: 16px;
        }
        *{margin:0;padding:0;}
        img{border:0}
    </style>
</head>
<body id="activity-detail" youdao="bind">
    <div class="page-bizinfo">
        <div class="header">
            <h1 id="activity-name">
                @Model.Title</h1>
            <p class="activity-info">
                <span id="post-date" class="activity-meta no-extra">@Model.CreateDate</span> <a href="weixin://contacts/profile/ssrcb40008-96336"
                    id="post-user" class="activity-meta"><span class="text-ellipsis">石狮农商银行微服务</span><i
                        class="icon_link_arrow"></i> </a>
            </p>
        </div>
    </div>
    <div id="page-content" class="page-content">
        <div id="img-content">
            <div class="media" id="media">
                <img src="@(ImrUrl+Model.PicUrl)" />
            </div>
            <div class="text">
            @if (!string.IsNullOrEmpty(Model.Description))
           { 
            @Html.Raw(Model.Description.Replace("\r\n", "<br />").Replace("\n", "<br />"))
           }
            </div>
        </div>
    </div>
</body>
</html>