@using Ocean.Framework.Configuration.global.config
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scafle=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bank/css/common.css")" />
    @RenderSection("head", required: false)@*View页面自定义特定js/css使用*@
</head>
<body>
    <div id="mbSubTitle">
    <section class="subTitleBox">
        <a href="javascript:void(0);" onclick="history.go(-1);" class="backBtn swap"></a>
        <span>福农宝</span>
        <a href="/funongbao" class="homeBtn"></a>
    </section>
    </div>
    @RenderBody()
<footer class="footer">
   <p>&copy;版权所有&nbsp;福农宝版权所有</p>
   @if (!string.IsNullOrWhiteSpace(GlobalConfig.GetConfig()["ICP"])) 
   {
       <p>@(GlobalConfig.GetConfig()["ICP"])</p>
   }
   @if (!string.IsNullOrWhiteSpace(GlobalConfig.GetConfig()["Security"]))
   { 
       <p>@(GlobalConfig.GetConfig()["Security"])</p>
   }
</footer>
</body>
</html>