@{
    Layout = "../Shared/_FunongbaoLayout.cshtml";
}
<div id="mbMain">
      <div class="frameChang">
          <span class="stitle">产品介绍</span>
      </div>
      <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
          <section class="modBaseBox">
              <div class="jjtxt">
                 <div class="logo"><img src="@Url.Content("~/content/bank/images/ns_logo.png")" /></div>
                 <div class="jtxt">
                    <strong>【产品简介】</strong>
                    <p>福农宝是本行根据客户存款流水专为小微企业主、个体工商户、农户等经营户提供快速融通资金的新型银联卡。福农宝授信免抵押、自助循环、按日计息，且持卡人可在授信额度内随用随还、自助操作，通过手机银行、网银、柜面及ATM等渠道实现资金随时周转使用，并可根据银行流水按季度进行额度、费率调整。</p>
                    <strong>【产品特点】</strong>
                    <p>1.自助循环，随用随还</p>
                    <p>授信期限最长3年，授信期间内额度循环可用，随用随还，放款快捷，满足商户快捷、便利的融资需求。</p>
                    <p>2.按日计息，灵活调整</p>
                    <p>无论生意淡季或者旺季，“用几天算几天利息”最大程度降低您的资金成本；根据您的流水，每万元每日利息最低可至2.5元。</p>
                    <p>3.额度高，免抵押担保</p>
                    <p>信用免抵押，省去商户无抵押烦恼；额度最高可达100万，充分满足您日常经营资金周转。</p>
                    <strong>【申请材料】</strong>
                    <p>持营业执照、银行账户流水等办理。</p>
                    <strong>【温馨提示】</strong>
                    <p>1、同时办理我行代发工资业务，可享更多利率优惠。</p>
                    <p>2、福农宝卡片年费为每年200元。卡片年费在激活后第一个账单日收取。</p>
                 </div>
                 <div class="btnLoginBox">
                          <a class="modBtnColor coloryellow" href="/funongbao/myfnb">我的福农宝</a>
                          <a class="modBtnColor coloryellow" href="/funongbao/Apply">额度调整</a>
                          <a class="modBtnColor coloryellow" href="/BankLoan/LoanApply">福农宝申请</a>
                      </div>
              </div> 
          </section>
      </div>
</div>

@*@using Ocean.Framework;
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index-Default</h2>
@Html.Widget(Ocean.Entity.Widget.WidgetEnum.Article_ArticleList, "Layout_1_1")
<br />
//枚举字符串key转为枚举
<br />
@ViewBag.Lc
<br />
//枚举字符串描术转化为枚举
<br />
@ViewBag.Lc1
<br />
//枚举字符串
<br />
@ViewBag.LcStr
<br />
//枚举值
<br />
@ViewBag.LcInt
<br />
//枚举属性-获取描述
<br />
@ViewBag.LcDes
<br />
<form action="" method="post" enctype="multipart/form-data">
<input type="file" name="testfile" />
<input type="submit" "测试上传" />
</form>*@