@{
    Layout = "../../Shared/_VoteLayout.cshtml";
}

<style type="text/css">
body {TEXT-ALIGN: center;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {TEXT-ALIGN: center;color: #444444;font: 14px/1.5 Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;margin: 0;padding: 0;}

.content{ margin: 0 0 15px;}
.boxcontent { background-color: #FEF8B2; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); margin: 15px 15px 0; padding: 2px;position:relative;}

.detail_border {margin-left:auto;margin-right:auto;border:1px solid #CCC; padding:0px; text-align:center; vertical-align:middle; width:98%; height:350px;overflow: hidden;}
.details_info {padding:5px; text-align: center; width:100%; }

.arrow-left{position:relative;right:5px;top:100px;border-width:50px; border-color:transparent green transparent transparent;  border-style:dashed solid dashed dashed; border-left:none;}
.arrow-right{position:relative;left:5px;top:100px;border-width:50px; border-color:transparent transparent transparent black;  border-style:dashed dashed dashed solid; border-right:none;}

.leftin
{
   width:300px;  
   height:200px;  
   position:absolute;  
   top:50%;  
   margin:-100px 0 0 -150px 
}
.boxcontent .left
{
float:left;
}

.boxcontent .right
{
float:right;
}
.rightin
{
float:right;
   width:300px;  
   height:200px;  
   position:absolute;  
   top:50%;  
   margin:-100px 0 0 -150px 
}

    .boxTemp {
		width:100%; margin:0 auto; border-radius:3px;background-color: #FEF8B2;
	}
	
	.leftTemp {
		width:15%;height:100%;float:left;
	}
	
	.divVoteItem {
		width:70%;height:100%;float:left;display:none;
	}
	
	.rightTemp {
		width:15%;height:100%;float:left;
	}
	.clear {clear:both;}
.pxbtn {background: #ff6501;background-image: -webkit-gradient(linear, left top, left bottom, from( #ffa201 ), to( #ff6501 ));background-image: -webkit-linear-gradient( #ffa201 , #ff6501 );background-image: -moz-linear-gradient( #ffa201 , #ff6501 );background-image: -ms-linear-gradient( #ffa201 , #ff6501 );background-image: -o-linear-gradient( #ffa201 , #ff6501 );background-image: linear-gradient( #ffa201 , #ff6501 );border: 1px solid #ff6501;border-bottom: 1px solid #d35605;color: #ffffff;font-weight: bold;text-shadow: 0 1px 0 #FFFFFF;border-radius: 0.6em 0.6em 0.6em 0.6em;display: block;width: 100%;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);text-overflow: ellipsis;white-space: nowrap;cursor: pointer;text-align: center;font-weight: bold;text-shadow: 0 0 2px #BE4205;font-size: 18px;padding: 10px;margin: 10px 0 0 0;}
.pxbtn:visited {background-image: -webkit-gradient(linear, left top, left bottom, from( #ffa201 ), to( #ff6501 ));background-image: -webkit-linear-gradient( #ffa201 , #ff6501 ); background-image:-moz-linear-gradient( #ffa201 , #ff6501 );background-image:-ms-linear-gradient( #ffa201 , #ff6501 ); background-image:-o-linear-gradient( #ffa201 , #ff6501 ); background-image:linear-gradient( #ffa201 , #ff6501 );}
.pxbtn:hover {background-image:-webkit-gradient(linear, left top, left bottom, from( #ff7f01 ), to( #ff6501 ));background-image:-webkit-linear-gradient( #ff7f01 , #ff6501 ); background-image:-moz-linear-gradient( #ff7f01 , #ff6501 );background-image:-ms-linear-gradient( #ff7f01 , #ff6501 );background-image:-o-linear-gradient( #ff7f01 , #ff6501 );background-image:linear-gradient( #ff7f01 , #ff6501 );}
.pxbtn:active {background-image:-webkit-gradient(linear, left top, left bottom, from( #ff6501 ), to( #ffa201 ));background-image:-webkit-linear-gradient( #ff6501 , #ffa201 );background-image:-moz-linear-gradient( #ff6501 , #ffa201 );background-image:-ms-linear-gradient( #ff6501 , #ffa201 );background-image:-o-linear-gradient( #ff6501 , #ffa201 );background-image:linear-gradient( #ff6501 , #ffa201 );border: 1px solid #ff6501;border-top: 1px solid #d35605;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;}

</style>


<div id="mbMain">
    <div class="frameChang">
        <span class="stitle">闽南理工联名卡投票</span>
    </div>
    <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
        <section class="modBaseBox">

	        <script type="text/javascript">

	            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	                window.shareData = {
	                    "timeLineLink": "http://wx.ssrcb.com/vote/VoteSummary?id=" + '@(WebHelper.GetGuid("Id", Guid.Empty))',
	                    "sendFriendLink": "http://wx.ssrcb.com/vote/VoteSummary?id=" + '@(WebHelper.GetGuid("Id", Guid.Empty))',
	                    "weiboLink": "http://wx.ssrcb.com/vote/VoteSummary?id=" + '@(WebHelper.GetGuid("Id", Guid.Empty))',
	                    "ImgPath": "http://wximg.ssrcb.com/mpimages/2014/09/11/5fcc7619602-128113_jpg!431x462.jpg",
	                    "tTitle": "闽南理工联名卡投票征集活动",
	                    "tContent": "闽南理工联名卡投票征集活动",
	                    "fTitle": "闽南理工联名卡投票征集活动",
	                    "fContent": "闽南理工联名卡投票征集活动",
	                    "wContent": "闽南理工联名卡投票征集活动"

	                };

	                // 发送给好友
	                WeixinJSBridge.on('menu:share:appmessage', function (argv) {
	                    WeixinJSBridge.invoke('sendAppMessage', {
	                        "img_url": window.shareData.ImgPath,
	                        "img_width": "431",
	                        "img_height": "462",
	                        "link": window.shareData.sendFriendLink,
	                        "desc": window.shareData.fContent,
	                        "title": window.shareData.fTitle
	                    }, function (res) {
	                        _report('send_msg', res.err_msg);
	                    })
	                });
	                // 分享到朋友圈
	                WeixinJSBridge.on('menu:share:timeline', function (argv) {
	                    WeixinJSBridge.invoke('shareTimeline', {
	                        "img_url": window.shareData.ImgPath,
	                        "img_width": "431",
	                        "img_height": "462",
	                        "link": window.shareData.timeLineLink,
	                        "desc": window.shareData.tContent,
	                        "title": window.shareData.tTitle
	                    }, function (res) {
	                        _report('timeline', res.err_msg);
	                    });
	                });
	                // 分享到微博

	            }, false);



	            function voteSubmit(id, index) {
	            if(confirm('您确定要投票？')) {
	                        $.ajax({
	                            type: 'post',
	                            url: '/vote/Vote?baseId=@(WebHelper.GetString("Id"))&itemId=' + id + '&t=' + Math.random(),
	                            data: {},
	                            cache: false,
	                            success: function (json) {
	                                if (json.isSuccess) {
	                                    $("#VoteLink" + index).val("您已投票");
	                                    $("#VoteCount" + index).html(json.voteCount);
	                                    $.messager.confirm('提示', json.message, "info", function () { });
	                                    return false;
	                                } else {
	                                    if (json.isLogin) {
	                                        //	                                        location.href = '/login?refUrl=' + url;
	                                        window.location = json.message;
	                                    } else {
	                                        $.messager.confirm('提示', json.message, "error", function () { });
	                                    }
	                                }
	                            }
	                        });
                } else {
                    return false;
                }
	            }

	            var currentShowItem = 0;
	            var totalItemCnt = 0;
	            function prevItem() {
	                $(".divVoteItem").hide();
	                currentShowItem--;
                    if(currentShowItem < 1)
                    {
                        currentShowItem = totalItemCnt;
                    }
                    $("#VoteItem" + currentShowItem).show();
	            }
	            function nextItem() {
	                $(".divVoteItem").hide();
	                currentShowItem++;
	                if (currentShowItem > totalItemCnt) {
	                    currentShowItem = 1;
	                }
	                $("#VoteItem" + currentShowItem).show();
	            }
	            $(document).ready(function (e) {
	                totalItemCnt = $(".divVoteItem").length;
	                if (totalItemCnt <= 0) {
	                    alert("本投票系统暂未开放")
	                }
	                else {
	                    var index = Math.ceil(Math.random() * totalItemCnt);
	                    var divShowItem = "#VoteItem" + index;
	                    $(divShowItem).show();
	                    currentShowItem = index;
	                    //	                    $("#VoteItem1").show();
	                    //	                    currentShowItem = 1;
	                }

	            });
            </script>
<div class="content">
    	        <div class="boxTemp" style = "margin-top: 0px;">
                    @*<div class="leftTemp"><p><a href="javascript:void(0);" onclick="prevItem();" class="arrow-left"></a></p></div>*@
                    <div class="leftTemp"><p><a href="javascript:void(0);" onclick="prevItem();"><img style = "width:100%;margin-top:100px;" src="@Url.Content("~/Content/images/prev.png")"></a></p></div>
                    @if (ViewBag.voteItemList != null)
                    {
                        int i = 1;
                        foreach (VoteItem voteItem in ViewBag.voteItemList)
                        {
                             <div class="divVoteItem" id = "VoteItem@(i.ToString())">  
                                <div class="detail_border"><a href="#"><img style = "width:100%;height:100%;" src="@Url.Content("~/Content/images/"+@voteItem.ItemPic.ToString())"></a></div>
                        
                                <div class="details_info">

                                @{
                                    bool bHasVote = false;
                                    if (ViewBag.voteSubmitItemList != null)
                                    {
                                        foreach(VoteInfo voteInfo in ViewBag.voteSubmitItemList)
                                        {
                                            if(voteInfo.VoteItemID == voteItem.Id)
                                            {
                                                bHasVote = true;
                                                break;
                                            }
                                        }
                                    }
                                    if((bHasVote)){
                                        @:<p><p class="cat_list"><input class="pxbtn" type="button" id="VoteLink@(i.ToString())" onclick="voteSubmit('@voteItem.Id.ToString()', '@(i.ToString())');" value="您已经投票了"></p>
                                    }
                                    else{
                                        @:<p><p class="cat_list"><input class="pxbtn" type="button" id="VoteLink@(i.ToString())" onclick="voteSubmit('@voteItem.Id.ToString()', '@(i.ToString())');" value="投TA一票"></p>

                                    }
                                }
            	                    <ul>
                	                    <li>名称：<span>@voteItem.ItemName.ToString()</span></li>
                
                                        <li>得票数：<span id="VoteCount@(i.ToString())">@voteItem.VoteCount</span></li>
                                    </ul>
       
                                </div>
                            </div>
                            i++;
                        }
                    }
                    <div class="leftTemp"><p><a href="javascript:void(0);" onclick="nextItem();"><img style = "width:100%;margin-top:100px;" src="@Url.Content("~/Content/images/next.png")"></a></p></div>
                    <div class="clear"></div>
                </div>

            </div>
        </section>
</div>